@font-face {
  font-display: swap;
  font-family: 'Barlow Semi Condensed';
  font-weight: 500;
  src: url('../fonts/BarlowSemiCondensed-Medium.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Barlow Semi Condensed';
  font-weight: 600;
  src: url('../fonts/BarlowSemiCondensed-SemiBold.ttf');
}
